* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(86, 122, 141);
  font-family: Didot, Candara, Arial, Helvetica, sans-serif;
}

.main {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.titulo {
  padding: 30px;
  width: 30vw;
  margin: auto;

}

.box {
  padding: 35px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(98, 102, 104, 0.863);
  border-radius: 1em;
  width: 30vw;
  height: auto;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: rgb(104, 184, 108);
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 1em;
  width: 100%;
  height: 100px;
  font-style:italic;
  font-size: 18px;
}

.footer {
  font-size: 1.5rem;
  text-align: center;
  color: black;
  margin-top: 320px;
}